:root {
    --primary: #FE043C;
    --secondary: #FFF5EC;
    --light-secondary: #FFEDDE;
    --light-grey: #AEB2B4;
    --light-orange: #F98169;
    --dark-grey: #918D8C;
    --white: #ffffff;
    --black: #000000;
}